<h1>Editing "<%= @album.title.capitalize %>" Album</h1>

<%= render 'form' %>

<% if permitted_to? :show, @album %>
    <!-- %= link_to 'Show', album_photos_path(@album) % -->
<% end %>
<% if permitted_to? :show, @album %>
    <%= link_to 'Back to Photo Album', album_photos_path(@album) %>
<% end %>
