<h1>Editing user_session</h1>

<%= render 'form' %>

<% if permitted_to? :show, @user_session %>
	<%= link_to 'Show', @user_session %> 
<% end %>
<% if permitted_to? :index, @user_session %>
   	<%= link_to 'View User Sessions', user_sessions_path %>
<% end %>

